doctype html
html(lang="en")
    head
    //Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    //Boostrap & CSS
    link(rel="stylesheet" href="indexStyle.css")
    link(rel="stylesheet" href="StaffReservation.css")
    link(rel='stylesheet' href='staffDashboard.css')
    //- link(rel="stylesheet" href="profileStyle.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet")
    // The core Firebase JS SDK is always required and must be listed first
    <script src="https://www.gstatic.com/firebasejs/8.6.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.4/firebase-firestore.js"></script>
    // TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.6.4/firebase-analytics.js"></script>
    <script src="app.js"></script>
    body
        .container-fluid.row.mainNavBar.fixed-top.w-100.navbar-expand-lg
            //Navbar
            .col-2.d-flex.justify-content-center
                a(href="#")
                    img(src="logo.png" alt="Butter logo")
            .col-10.d-flex.justify-content-center
                ul(id="nav-list").nav.align-items-center
                    li.nav-item.dropdown <a class="home" href="/"> HOME </a>
                    li.nav-item 
                        a(class="reservation" href="/orderStatus") ORDER
                    li.nav-item 
                        a(class="Blog" href="/reservationStatus") RESERVATION
                    li.nav-item
                        i(class="fas fa-search fa-lg" onclick="myFunction()")
                    if user
                        li.nav-item
                            a(href="/staffProfile")
                                img(src=user.avatar alt="Avatar" class="avatar-nav")
                        li.nav-item.dropdown
                            a(class="contact" href="/staffProfile")= user.userName
                            div(class="dropdown-content")
                                a(class="dropdown-item" href="/staffProfile") Profile
                                a(class="dropdown-item" href="/logOut") Log Out
                    else
                        li.nav-item
                            a(class="contact" href="/logIn") LOGIN
                        li.nav-item
                            a(class="contact" href="/signUp") SIGN UP      
                div.col-12(id="search-bar")
                    i(class="fas fa-search fa-lg" onclick="myFunction()")
                    input(type="text" placeholder="Search Here ..... !", )

        .top-slogan
            .container.align-text-center 
                p.font-playball.font-size-34.gold-color Teammates make everything great and successfull

        .top-brand
            .container
                .d-flex
                    p.font-playball.font-size-34.flex-col.justify-content-center.mar-bot-0 Butter! 
                    p.font-raleway.font-size-25.flex-col.justify-content-center.mar-bot-0 &nbsp;is open.
                p.font-raleway.font-size-20 Sai Gon Center, Ho Chi Minh city

        .menu-dashboard 
            .container 
                .profile-head 
                    ul#myTab.nav.nav-tabs.card-header-tabs(role='tablist')
                        li.nav-item
                            a#orders-tab.nav-link.active(data-toggle='tab' href='#Orders' role='tab' aria-controls='Orders' aria-selected='true') New Reservation
                        li.nav-item
                            a#bookings-tab.nav-link(data-toggle='tab' href='#Bookings' role='tab' aria-controls='Bookings' aria-selected='false') Accept Reservation
                        li.nav-item
                            a#comments-tab.nav-link(data-toggle='tab' href='#Comments' role='tab' aria-controls='Comments' aria-selected='false') Cancelled Reservation
                        li.nav-item
                            a#edits-tab.nav-link(data-toggle='tab' href='#Edits' role='tab' aria-controls='Edits' aria-selected='false') Done Reservation

                #myTabContent.tab-content
                    #Orders.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='orders-tab')
                        if newReservation
                            - var n = 0;
                            each value in newReservation
                                .container 
                                    .card-body.px-0 
                                        .row 
                                            .col-lg-12.col-md-9.col-sm-8
                                                .row.mar-bot-10
                                                    .col-lg-9.col-md-8.col-sm-8.col-8.flex-col.justify-content-center
                                                        p.mar-bot-0.font-source-sans.font-size-20.font-weight-600="User ID: " + newReservation[n].userId
                                                        p.mar-bot-0.font-source-sans.font-size-20.font-weight-600="Name: " + newReservation[n].UserName
                                                .row
                                                    .col-12 
                                                        p.font-source-serif.font-size-20.font-weight-300="Date: " + newReservation[n].date
                                                        p.font-source-serif.font-size-20.font-weight-300="Time: " + newReservation[n].time
                                                .row
                                                    .col-12 
                                                        p.font-source-serif.font-size-20.font-weight-300="Address: " + newReservation[n].address
                                                        p.font-source-serif.font-size-20.font-weight-300="Number of Guest: " + newReservation[n].numberOfGuest

                                        form(method="POST" action="/StaffCheckReservation").row 
                                            .col-lg-2.col-md-3.col-sm-4 
                                            .col-lg-10.col-md-9.col-sm-8
                                                .row
                                                    .col-lg-6.col-md-6.col-sm-6.col-6
                                                        input(type="text" name="Id" value=newReservation[n].userId style="display: none")
                                                        input.btn.accept-btn(type="submit" value="Check Reservation")
                                - n++;


                    #Bookings.tab-pane.fade(role='tabpanel' aria-labelledby='bookings-tab')
                        if acceptReservation
                            - var n = 0;
                            each value in acceptReservation
                                .container 
                                    .card-body.px-0 
                                        .row 
                                            .col-lg-12.col-md-9.col-sm-8
                                                .row.mar-bot-10
                                                    .col-lg-9.col-md-8.col-sm-8.col-8.flex-col.justify-content-center
                                                        p.mar-bot-0.font-source-sans.font-size-20.font-weight-600="User ID: " + acceptReservation[n].userId
                                                        p.mar-bot-0.font-source-sans.font-size-20.font-weight-600="Name: " + acceptReservation[n].UserName
                                                .row
                                                    .col-12 
                                                        p.font-source-serif.font-size-20.font-weight-300="Date: " + acceptReservation[n].date
                                                        p.font-source-serif.font-size-20.font-weight-300="Time: " + acceptReservation[n].time
                                                .row
                                                    .col-12 
                                                        p.font-source-serif.font-size-20.font-weight-300="Address: " + acceptReservation[n].address
                                                        p.font-source-serif.font-size-20.font-weight-300="Number of Guest: " + acceptReservation[n].numberOfGuest

                                        form(method="POST" action="/StaffCheckReservation").row 
                                            .col-lg-2.col-md-3.col-sm-4 
                                            .col-lg-10.col-md-9.col-sm-8
                                                .row
                                                    .col-lg-6.col-md-6.col-sm-6.col-6
                                                        input(type="text" name="Id" value=acceptReservation[n].userId style="display: none")
                                                        input.btn.accept-btn(type="submit" value="Check Reservation")
                                - n++;


                    #Comments.tab-pane.fade(role='tabpanel' aria-labelledby='comments-tab')
                        if cancelledReservation
                            - var n = 0;
                            each value in cancelledReservation
                                .container 
                                    .card-body.px-0 
                                        .row 
                                            .col-lg-12.col-md-9.col-sm-8
                                                .row.mar-bot-10
                                                    .col-lg-9.col-md-8.col-sm-8.col-8.flex-col.justify-content-center
                                                        p.mar-bot-0.font-source-sans.font-size-20.font-weight-600="User ID: " + cancelledReservation[n].userId
                                                        p.mar-bot-0.font-source-sans.font-size-20.font-weight-600="Name: " + cancelledReservation[n].UserName
                                                .row
                                                    .col-12 
                                                        p.font-source-serif.font-size-20.font-weight-300="Date: " + cancelledReservation[n].date
                                                        p.font-source-serif.font-size-20.font-weight-300="Time: " + cancelledReservation[n].time
                                                .row
                                                    .col-12 
                                                        p.font-source-serif.font-size-20.font-weight-300="Address: " + cancelledReservation[n].address
                                                        p.font-source-serif.font-size-20.font-weight-300="Number of Guest: " + cancelledReservation[n].numberOfGuest
                                - n++;
                    #Edits.tab-pane.fade(role='tabpanel' aria-labelledby='edits-tab')
                        if doneReservation
                            - var n = 0;
                            each value in doneReservation
                                .container 
                                    .card-body.px-0 
                                        .row 
                                            .col-lg-12.col-md-9.col-sm-8
                                                .row.mar-bot-10
                                                    .col-lg-9.col-md-8.col-sm-8.col-8.flex-col.justify-content-center
                                                        p.mar-bot-0.font-source-sans.font-size-20.font-weight-600="User ID: " + doneReservation[n].userId
                                                        p.mar-bot-0.font-source-sans.font-size-20.font-weight-600="Name: " + doneReservation[n].UserName
                                                .row
                                                    .col-12 
                                                        p.font-source-serif.font-size-20.font-weight-300="Date: " + doneReservation[n].date
                                                        p.font-source-serif.font-size-20.font-weight-300="Time: " + doneReservation[n].time
                                                .row
                                                    .col-12 
                                                        p.font-source-serif.font-size-20.font-weight-300="Address: " + doneReservation[n].address
                                                        p.font-source-serif.font-size-20.font-weight-300="Number of Guest: " + doneReservation[n].numberOfGuest
                                - n++;
                        



        //Footer
        .footer
            .container-fluid.row(style="background-color: black")
                .col-6
                    h4 About Company
                    .title-line 
                    p Pellentesque mi purus, eleifend sedt commodo vel, sagittis elts vestibulum dui sagittis mlste sagittis elts.
                    ul.address-info 
                        li
                            <i class="fas fa-map-marker-alt"></i>   15 Barnes Wallis Way, 358744, USA
                        li 
                            <i class="fas fa-phone"></i>    +1 (012) 345 6789 
                        li
                            <i class="fas fa-envelope"></i>   info@yourdomain.com
                .col-6 
                    h4 Twitter Feed!
                    .title-line 
                    ul.customer-sp
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="#") Customer Support
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="#") Documentation
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="#") Developer Center
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="/FAQs") General FAQs
        .container-fluid.Copyright.row
            .col-6.copyRight-title
                h5 Copyright © 2016 yourdomian. All rights reserved.
            .col-6
                ul.social-list 
                    li.social-app
                        <i class="fab fa-facebook-square fa-3x"></i>
                    li.social-app
                        <i class="fab fa-instagram fa-3x"></i>
                    li.social-app
                        <i class="fab fa-youtube fa-3x"></i>
                    li.social-app
                        <i class="fab fa-twitter-square fa-3x"></i>