doctype html
html(lang="en")
    head
    //Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    //Boostrap & CSS
    link(rel="stylesheet" href="indexStyle.css")
    link(rel="stylesheet" href="StaffReservation.css")
    link(rel='stylesheet' href='staffDashboard.css')
    //- link(rel="stylesheet" href="profileStyle.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet")
    // The core Firebase JS SDK is always required and must be listed first
    <script src="https://www.gstatic.com/firebasejs/8.6.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.4/firebase-firestore.js"></script>
    // TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.6.4/firebase-analytics.js"></script>
    <script src="app.js"></script>
    body
        .container-fluid.row.mainNavBar.fixed-top.w-100.navbar-expand-lg
            //Navbar
            .col-2.d-flex.justify-content-center
                a(href="#")
                    img(src="logo.png" alt="Butter logo")
            .col-10.d-flex.justify-content-center
                ul(id="nav-list").nav.align-items-center
                    li.nav-item.dropdown <a class="home" href="/"> HOME </a>
                    li.nav-item 
                        a(class="contact" href="/Shop") SHOP
                    li.nav-item.dropdown PAGES 
                        i(class="fa fa-angle-down")
                        div(class="dropdown-content")
                            a(class="dropdown-item" href="/aboutUs") About Us
                            a(class="dropdown-item" href="/service") Service
                    li.nav-item.dropdown <a class="menu" href="/menu"> MENU </a>
                    li.nav-item 
                        a(class="reservation" href="/reservation") RESERVATION
                    li.nav-item 
                        a(class="Blog" href="/Blog") BLOG
                    li.nav-item
                        a(class="contact" href="/contact") CONTACT
                    li.nav-item
                        a(class="fas fa-cart-plus fa-lg cart" href="/ShoppingCart")
                    li.nav-item
                        i(class="fas fa-search fa-lg" onclick="myFunction()")
                    if user
                        li.nav-item
                            a(href="/profilePage")
                                img(src=user.avatar alt="Avatar" class="avatar-nav")
                        li.nav-item.dropdown
                            a(class="contact" href="/profilePage")= user.userName
                            div(class="dropdown-content")
                                a(class="dropdown-item" href="/profilePage") Profile
                                a(class="dropdown-item" href="/logOut") Log Out
                    else
                        li.nav-item
                            a(class="contact" href="/logIn") LOGIN
                        li.nav-item
                            a(class="contact" href="/signUp") SIGN UP      
                div.col-12(id="search-bar")
                    i(class="fas fa-search fa-lg" onclick="myFunction()")
                    input(type="text" placeholder="Search Here ..... !", )


        //- Page Header
            .page-header
                .container
                    .row
                        .col-8
                            //- i.fas.fa-utensils
                            h3.left-section1 CHECK FOR RESERVATION
                            h4.left-section2 ONLY STAFF
                        .col-2
                        .col-2
            .Section-1(style="position:relative")
                .container
                    .col-12 
                        ul#myTab.nav.nav-tabs(role='tablist')
                            li.nav-item(role='presentation')
                                button#home-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#home' type='button' role='tab' aria-controls='home' aria-selected='true') Reservation details
                            li.nav-item(role='presentation')
                                button#profile-tab.nav-link(data-bs-toggle='tab' data-bs-target='#profile' type='button' role='tab' aria-controls='profile' aria-selected='false') Cancelation details
                        #myTabContent.tab-content
                            #home.tab-pane.fade(role='tabpanel' aria-labelledby='home-tab')
                                .row.subContent
                                    .col-3
                                        input(type="text")
                                    .col-3 
                                        i(class = "fas fa-search" style="color: steelblue")
                                            input(type="button" value="Search Reservations") 
                                    .col-3
                                        i(class = "fas fa-plus" style="color: steelblue")
                                            input(type="button" value="Add new reservation")
                                    .col-3
                                        i(class = "fas fa-times" style="color: steelblue")
                                            input(type="button" value="Cancel reservation") 
                                .row.subContent1
                                    .col-12(style="text-align:center;  margin-bottom: 10px")
                                        h2 RESERVATION INFORMATION
                                    .col-12
                                        table(class="table table-striped table-hover table-sm")
                                            thead
                                                tr(style="text-align: center")
                                                    th(scope='col') UserName
                                                    th(scope='col') Email
                                                    th(scope='col') Phone
                                                    th(scope='col') Date
                                                    th(scope='col') Number of guests
                                                    th(scope='col') Status
                                            tbody
                                                tr(style="text-align: center")
                                                    th(scope='row') Hong Quan
                                                    td hongquan4242@gmail.com
                                                    td 0942429242
                                                    td 02/03/2020
                                                    td 100
                                                    td
                                                        select(class="form-select" aria-label="Default select example" style="width:120px; font-size: 15px; height: 30px;")
                                                            option Confirmed
                                                            option Canceled                  
                                                tr(style="text-align: center")
                                                    th(scope='row') Quy Phuoc
                                                    td quyphuocxamlon@gmail.com
                                                    td 0901291201
                                                    td 01/07/2021
                                                    td 1
                                                    td 
                                                        select(class="form-select" aria-label="Default select example" style="width:120px; font-size: 15px; height: 30px;")
                                                            option Confirmed
                                                            option Canceled
                                                tr(style="text-align: center")
                                                    th(scope='row') Tien Trung
                                                    td tientrungcungxamlon@gmail.com
                                                    td 0901291201
                                                    td 01/07/2021
                                                    td 10
                                                    td 
                                                        select(class="form-select" aria-label="Default select example" style="width:120px; font-size: 15px; height: 30px;")
                                                            option Confirmed
                                                            option Canceled
                            #profile.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='profile-tab')
                                .row.subContent
                                    .col-3
                                        input(type="text")
                                    .col-3 
                                        i(class = "fas fa-search" style="color: red")
                                            input(type="button" value="Search cancelation" style="color: red") 
                                    .col-3
                                    .col-3
                                .row.subContent1
                                    .col-12(style="text-align:center;  margin-bottom: 10px")
                                        h2( style="color: red") CANCELATION INFORMATION
                                    .col-12
                                        table(class="table table-striped table-hover table-sm")
                                            thead
                                                tr(style="text-align: center")
                                                    th(scope='col') UserName
                                                    th(scope='col') Email
                                                    th(scope='col') Phone
                                                    th(scope='col') Date
                                                    th(scope='col') Number of guests
                                                    th(scope='col') Status
                                                    th(scope='col') Reason
                                            tbody
                                                tr(style="text-align: center")
                                                    th(scope='row') Hong Quan
                                                    td hongquan4242@gmail.com
                                                    td 0942429242
                                                    td 02/03/2020
                                                    td 100
                                                    td
                                                        i(class="fas fa-times" style="color: red")
                                                    td Joke               
                                                tr(style="text-align: center")
                                                    th(scope='row') Quy Phuoc
                                                    td quyphuocxamlon@gmail.com
                                                    td 0901291201
                                                    td 01/07/2021
                                                    td 1
                                                    td 
                                                        i(class="fas fa-times" style="color: red")
                                                    td Like 
                                                tr(style="text-align: center")
                                                    th(scope='row') Tien Trung
                                                    td tientrungcungxamlon@gmail.com
                                                    td 0901291201
                                                    td 01/07/2021
                                                    td 10
                                                    td 
                                                        i(class="fas fa-times" style="color: red")
                                                    td Staff cancel (Out of table) 

        .top-slogan
            .container.align-text-center 
                p.font-playball.font-size-34.gold-color Teammates make everything great and successfull

        .top-brand
            .container
                .d-flex
                    p.font-playball.font-size-34.flex-col.justify-content-center.mar-bot-0 Butter! 
                    p.font-raleway.font-size-25.flex-col.justify-content-center.mar-bot-0 &nbsp;is open.
                p.font-raleway.font-size-20 Sai Gon Center, Ho Chi Minh city

        .menu-dashboard 
            .container 
                .profile-head 
                    ul#myTab.nav.nav-tabs.card-header-tabs(role='tablist')
                        li.nav-item
                            a#orders-tab.nav-link.active(data-toggle='tab' href='#Orders' role='tab' aria-controls='Orders' aria-selected='true') Orders
                        li.nav-item
                            a#bookings-tab.nav-link(data-toggle='tab' href='#Bookings' role='tab' aria-controls='Bookings' aria-selected='false') Bookings
                        li.nav-item
                            a#comments-tab.nav-link(data-toggle='tab' href='#Comments' role='tab' aria-controls='Comments' aria-selected='false') Comments
                        li.nav-item
                            a#edits-tab.nav-link(data-toggle='tab' href='#Edits' role='tab' aria-controls='Edits' aria-selected='false') Edits
                        li.nav-item
                            a#overview-tab.nav-link(data-toggle='tab' href='#Overview' role='tab' aria-controls='Overview' aria-selected='false') Overview


                #myTabContent.tab-content
                    #Orders.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='orders-tab')
                        if newOrder
                            - var n = 0;
                            each value in newOrder
                                .container 
                                    .card-body.px-0 
                                        .row 
                                            .col-lg-12.col-md-9.col-sm-8
                                                .row.mar-bot-10
                                                    .col-lg-9.col-md-8.col-sm-6.col-6.flex-col.justify-content-center
                                                        p.mar-bot-0.font-source-sans.font-size-20.font-weight-600="User ID: " + newOrder[n].userId
                                                    .col-lg-3.col-md-4.col-sm-6.col-6.flex-col.justify-content-center.align-text-right
                                                        p.mar-bot-0.font-source-sans.font-size-20.font-weight-600=newOrder[n].date + " " + newOrder[n].time
                                                .row
                                                    .col-12 
                                                        p.font-source-serif.font-size-20.font-weight-300="Shipping to: " + newOrder[n].address
                                                        p.font-source-serif.font-size-20.font-weight-300="Number of items: " + newOrder[n].cart.length
                                                .row
                                                    .col-12 
                                                        p.font-source-serif.font-size-20.font-weight-300="Shipping Fee: " + newOrder[n].shipFee + " VND"
                                                        p.font-source-serif.font-size-20.font-weight-300="Totals: " + newOrder[n].totals + " VND"

                                        form(method="POST" action="/StaffCheckOrder").row 
                                            .col-lg-2.col-md-3.col-sm-4 
                                            .col-lg-10.col-md-9.col-sm-8
                                                .row
                                                    .col-lg-6.col-md-6.col-sm-6.col-6
                                                        input(id="totalsInput" type="text" name="Id" value=newOrder[n].userId style="display: none")
                                                        input.btn.accept-btn(type="submit" value="Check Order")
                                - n++;


                    #Bookings.tab-pane.fade(role='tabpanel' aria-labelledby='bookings-tab')
                        .container 
                            .card-body.px-0 
                                .row 
                                    .col-lg-2.col-md-3.col-sm-4.flex-col.justify-content-center.align-items-center 
                                        img.border-rad-50(src='site-img24.jpg')

                                    .col-lg-10.col-md-9.col-sm-8
                                        .row.mar-bot-10
                                            .col-lg-9.col-md-8.col-sm-6.col-6.flex-col.justify-content-center
                                                p.mar-bot-0.font-source-sans.font-size-20.font-weight-600 Cus' name
                                            .col-lg-3.col-md-4.col-sm-6.col-6.flex-col.justify-content-center.align-text-right
                                                p.mar-bot-0.font-source-sans.font-size-20.font-weight-600 30 minutes ago
                                        .row
                                            .col-12 
                                                p.font-source-serif.font-size-20.font-weight-300 Time: 18:00, 21 Aug 2021
                                                p.font-source-serif.font-size-20.font-weight-300 Number of people: 5

                                .row 
                                    .col-lg-2.col-md-3.col-sm-4 
                                    .col-lg-10.col-md-9.col-sm-8
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-6
                                                a.btn.accept-btn(href='#') Accept 
                                            .col-lg-6.col-md-6.col-sm-6.col-6.align-text-right
                                                a.btn.cancel-btn(href='#') Cancel

                            .card-footer.bg-white.px-0.mar-top-30 
                                .row.mar-top-30 
                                    .col-lg-2.col-md-3.col-sm-4.flex-col.justify-content-center.align-items-center 
                                        img.border-rad-50(src='site-img24.jpg')

                                    .col-lg-10.col-md-9.col-sm-8
                                        .row.mar-bot-10
                                            .col-lg-9.col-md-8.col-sm-6.col-6.flex-col.justify-content-center
                                                p.mar-bot-0.font-source-sans.font-size-20.font-weight-600 Cus' name
                                            .col-lg-3.col-md-4.col-sm-6.col-6.flex-col.justify-content-center.align-text-right
                                                p.mar-bot-0.font-source-sans.font-size-20.font-weight-600 30 minutes ago
                                        .row
                                            .col-12 
                                                p.font-source-serif.font-size-20.font-weight-300 Time: 19:00, 30 Aug 2021
                                                p.font-source-serif.font-size-20.font-weight-300 Number of people: 5

                                .row 
                                    .col-lg-2.col-md-3.col-sm-4 
                                    .col-lg-10.col-md-9.col-sm-8
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-6
                                                a.btn.accept-btn(href='#') Accept 
                                            .col-lg-6.col-md-6.col-sm-6.col-6.align-text-right
                                                a.btn.cancel-btn(href='#') Cancel

                            .row.mar-top-60
                                .col-12 
                                    a.btn.see-all-btn(href='#') See all bookings


                    #Comments.tab-pane.fade(role='tabpanel' aria-labelledby='comments-tab')
                        .container 
                            .card-body.px-0 
                                .row 
                                    .col-lg-2.col-md-3.col-sm-4.flex-col.justify-content-center.align-items-center 
                                        img.border-rad-50(src='site-img24.jpg')
                                        p.font-source-sans.font-size-20.font-weight-600.mar-top-5 Cus' name

                                    .col-lg-10.col-md-9.col-sm-8
                                        .row.mar-bot-10
                                            .col-lg-9.col-md-8.col-sm-6.col-6.flex-col.justify-content-center
                                                .d-flex
                                                    i.fas.fa-star.yellow-color
                                                    i.fas.fa-star.yellow-color
                                                    i.fas.fa-star.yellow-color
                                                    i.fas.fa-star.yellow-color
                                                    i.far.fa-star.yellow-color
                                            .col-lg-3.col-md-4.col-sm-6.col-6.flex-col.justify-content-center.align-text-right
                                                p.mar-bot-0.font-source-sans.font-size-20.font-weight-600 30 minutes ago
                                        .row
                                            .col-12 
                                                p.font-source-serif.font-size-20.font-weight-300 Great price and excellent food.
                                                p.font-source-serif.font-size-20.font-weight-300 Service is friendly and prompt. I come here at least the few times a week. I recommend the Seafood Pizza.

                                .row 
                                    .col-lg-2.col-md-3.col-sm-4 
                                    .col-lg-10.col-md-9.col-sm-8
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-6
                                                a.btn.accept-btn(href='#') Reply 
                                            .col-lg-6.col-md-6.col-sm-6.col-6.align-text-right
                                                a.btn.cancel-btn(href='#') Report

                            .card-footer.bg-white.px-0.mar-top-30 
                                .row.mar-top-30 
                                    .col-lg-2.col-md-3.col-sm-4.flex-col.justify-content-center.align-items-center 
                                        img.border-rad-50(src='site-img24.jpg')
                                        p.font-source-sans.font-size-20.font-weight-600.mar-top-5 Cus' name

                                    .col-lg-10.col-md-9.col-sm-8
                                        .row.mar-bot-10
                                            .col-lg-9.col-md-8.col-sm-6.col-6.flex-col.justify-content-center
                                                .d-flex
                                                    i.fas.fa-star.yellow-color
                                                    i.fas.fa-star.yellow-color
                                                    i.fas.fa-star.yellow-color
                                                    i.fas.fa-star.yellow-color
                                                    i.far.fa-star.yellow-color
                                            .col-lg-3.col-md-4.col-sm-6.col-6.flex-col.justify-content-center.align-text-right
                                                p.mar-bot-0.font-source-sans.font-size-20.font-weight-600 30 minutes ago
                                        .row
                                            .col-12 
                                                p.font-source-serif.font-size-20.font-weight-300 Great price and excellent food.
                                                p.font-source-serif.font-size-20.font-weight-300 Service is friendly and prompt. I come here at least the few times a week. I recommend the Seafood Pizza.

                                .row
                                    .col-lg-2.col-md-3.col-sm-4 
                                    .col-lg-10.col-md-9.col-sm-8
                                        .row 
                                            .col-12.align-text-center
                                                img.border-rad-10px(src='soda_picture.jpg')

                                .row.mar-top-20 
                                    .col-lg-2.col-md-3.col-sm-4 
                                    .col-lg-10.col-md-9.col-sm-8
                                        .row
                                            .col-lg-6.col-md-6.col-sm-6.col-6
                                                a.btn.accept-btn(href='#') Reply 
                                            .col-lg-6.col-md-6.col-sm-6.col-6.align-text-right
                                                a.btn.cancel-btn(href='#') Report

                            .row.mar-top-60
                                .col-12 
                                    a.btn.see-all-btn(href='#') See all comments


                    #Edits.tab-pane.fade(role='tabpanel' aria-labelledby='edits-tab')


                    #Overview.tab-pane.fade.p-3(role='tabpanel' aria-labelledby='overview-tab')



        //Footer
        .footer
            .container-fluid.row(style="background-color: black")
                .col-6
                    h4 About Company
                    .title-line 
                    p Pellentesque mi purus, eleifend sedt commodo vel, sagittis elts vestibulum dui sagittis mlste sagittis elts.
                    ul.address-info 
                        li
                            <i class="fas fa-map-marker-alt"></i>   15 Barnes Wallis Way, 358744, USA
                        li 
                            <i class="fas fa-phone"></i>    +1 (012) 345 6789 
                        li
                            <i class="fas fa-envelope"></i>   info@yourdomain.com
                .col-6 
                    h4 Twitter Feed!
                    .title-line 
                    ul.customer-sp
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="#") Customer Support
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="#") Documentation
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="#") Developer Center
                        li 
                            <i class="fas fa-angle-right"></i> 
                                a(href="/FAQs") General FAQs
        .container-fluid.Copyright.row
            .col-6.copyRight-title
                h5 Copyright © 2016 yourdomian. All rights reserved.
            .col-6
                ul.social-list 
                    li.social-app
                        <i class="fab fa-facebook-square fa-3x"></i>
                    li.social-app
                        <i class="fab fa-instagram fa-3x"></i>
                    li.social-app
                        <i class="fab fa-youtube fa-3x"></i>
                    li.social-app
                        <i class="fab fa-twitter-square fa-3x"></i>